<template lang="">
    <AuthenticatedLayout>
        
    </AuthenticatedLayout>
</template>
<script>
import AuthenticatedLayout from '@/Layouts/Authenticated.vue'
export default {

    components:{
        AuthenticatedLayout
    }

    
}
</script>
