<template>
    <AuthenticatedLayout title="References">
        <div
            class="fixed inset-0 items-center py-20 justify-center  rounded-lg z-50 overflow-auto"
            style="background-color: rgba(0, 0, 0, 0.5)"
            @click="closeModal"
        >
        
            <div
                v-if="isModalOpen"
                class="bg-white p-0 max-w-7xl mx-auto rounded-lg shadow-lg z-50 "
                @click.stop
            >
                <div class="bg-green-800 p-0.5  rounded-lg">
                    <H1 class="bg-inherit pl-6 text-white">Assesment</H1>
                </div>
                <form class="p-10  rounded-lg" >
                    <div class="gap-4">
                        <!-- Column 1 -->
                        <div class="p-6">
                            <h2 class="text-2xl font-bold mb-4">References</h2>
                            <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                              <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                                <table class="min-w-full leading-normal">
                                  <thead>
                                    <tr>
                                      <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                                      >
                                        ID
                                      </th>
                                      <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                                      >
                                        Thesis ID
                                      </th>
                                      <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                                      >
                                        Type
                                      </th>
                                      <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                                      >
                                        Referenced Thesis ID
                                      </th>
                                      <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                                      >
                                        Details ID
                                      </th>
                                      <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
                                      >
                                        Actions
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="(reference, index) in references" :key="index" class="border-b border-gray-200">
                                      <td class="px-5 py-5">{{ reference.id }}</td>
                                      <td class="px-5 py-5">{{ reference.thesis_id }}</td>
                                      <td class="px-5 py-5">{{ reference.type }}</td>

                                      <td class="px-5 py-5">{{ reference.referenced_thesis_id }}</td>
                                      <td class="px-5 py-5">{{ reference.details_id }}</td>
                                      <td class="px-6 py-4 flex items-center">
                                        <!-- <Button variant="success" type="button">Submit</Button> -->
                                        <Button variant="info" type="button">Approved
                                            <!-- <Link
                                                :href=" 
                                                    route(
                                                        'submissions.edit',
                                                        submission.id
                                                    )
                                                "
                                                >Edit</Link
                                            > -->
                                        </Button>
                                        <Button type="button"
                                            variant="danger"
                                            @click="destroy(submission.id)"
                                            >Return to Student</Button
                                        >
                                    </td>
                                    </tr>
                                    
                                  </tbody>
                                  
                                </table>
                              </div>
                            </div>
                          </div>
                        
                        
                        
                    </div>
                    <br />
                    <div class="flex justify-end">
                        <Button
                            variant="danger"
                            type="button"
                            class="btn btn-default block text-sm font-medium text-gray-700"
                            @click="closeModal"
                            >Exit</Button
                        >
                        &nbsp;
                        <!-- <Button
                            variant="success"
                            type="button"
                            class="btn btn-primary block text-sm font-medium text-gray-700"
                            @click="save"
                            >Save</Button
                        > -->
                    </div>
                </form>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
<script>

  
import {
    UserIcon,
    MailIcon,
    LockClosedIcon,
    UserAddIcon,
} from "@heroicons/vue/outline";

import InputIconWrapper from "@/Components/InputIconWrapper.vue";
import Input from "@/Components/Input.vue";
import Label from "@/Components/Label.vue";

import Button from "@/Components/Button.vue";
import { router } from '@inertiajs/vue3';
import axios from 'axios';
export default {
    components: {
        router,
        InputIconWrapper,
        Input,
        Label,
        Button,
        UserIcon, // Add a comma here
        MailIcon,
        LockClosedIcon,
        UserAddIcon,
    },
    data() {
        
        return {
            references: [],
            
            isModalOpen: true,
        };
    },
    created(){
        this.fetchReferences();
    },
    methods: {
        async fetchReferences() {
          const response = await axios.get('/getReferences');
          this.references = response.data;
          console.log(response);
          
        
      },
        openModal() {
            this.isModalOpen = true;
        },
        closeModal() {
            this.isModalOpen = false;
            this.$emit("close-modal");
        },

        addItem() {
            this.form.contributors.push({ fname: "", lname: "" });
        },

        removeItem() {
            this.form.contributors.length > 1 && this.form.contributors.pop();
        },
        // save() {
         
        //     const data = { ...this.form, contributors: this.form.contributors };



            
        //     // router.post("/references", data);
            
          
            
        // },
    },
   

    
};
</script>
