<template>
    <div class="modal" v-if="isOpen">
      <div class="modal-content">
        <span class="close" @click="closeModal">&times;</span>
        <!-- Your modal content here -->
        <slot></slot>
      </div>
    </div>
  </template>
  
  <script>
  export default {
    data() {
      return {
        isOpen: false,
      };
    },
    methods: {
      openModal() {
        this.isOpen = true; // Set isOpen to true regardless of its previous state
      this.$emit('modal-opened');
      },
      closeModal() {
        this.isOpen = false;
      this.$emit('modal-closed');
      },
    },
  };
  </script>