<template>
    <AuthenticatedLayout title="References">
        <div
            class="fixed inset-0 items-center py-20 justify-center z-50 overflow-auto"
            style="background-color: rgba(0, 0, 0, 0.5)"
            @click="closeModal"
        >
            <div
                v-if="isModalOpen"
                class="bg-white p-0 max-w-7xl mx-auto rounded shadow-lg z-50"
                @click.stop
            >
                <div class="bg-green-800 p-0.5">
                    <H1 class="bg-inherit pl-6 text-white">Add References</H1>
                </div>
                <form class="p-10">
                    <div class="gap-4">
                        <!-- Column 1 -->
                        <div class="grid grid-cols-2 gap-2">
                            <div class="form-group">
                                <label
                                    for="type"
                                    class="block text-sm font-medium text-gray-700"
                                    >Item Type:</label
                                >
                                <select
                                    id="type"
                                    v-model="form.type"
                                    name="type"
                                    class="form-control block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                >
                                    <option value="">Select Type</option>
                                    <option value="1">E-Book</option>
                                    <option value="2">Book</option>
                                    <option value="3">Thesis</option>
                                    <option value="4">Capstone</option>
                                    <option value="5">Publication</option>
                                </select>
                            </div>
                        </div>
                        <div class="grid grid-cols-2 gap-2">
                            <div class="form-group">
                                <label
                                    for="title"
                                    class="block text-sm font-medium text-gray-700"
                                    >Title:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.title"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="title"
                                    name="title"
                                    required/>
                            </div>

                            <div
                                class="form-group"
                                v-if="form.type != 3 && form.type != 4"
                            >
                                <label
                                    for="series"
                                    class="block text-sm font-medium text-gray-700"
                                    >Series:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.series"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="series"
                                    name="series"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="num_volume"
                                    class="block text-sm font-medium text-gray-700"
                                    >Number of Volume:</label
                                >
                                <Input
                                    type="number"
                                    v-model="form.num_volume"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="num_volume"
                                    name="num_volume"
                                />
                            </div>
                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="edition"
                                    class="block text-sm font-medium text-gray-700"
                                    >Edition:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.edition"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="edition"
                                    name="edition"
                                />
                            </div>

                            <div class="form-group">
                                <label
                                    for="place"
                                    class="block text-sm font-medium text-gray-700"
                                    >Place:</label
                                >
                                <Input
                                    type="text"
                                    v-model="place"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="place"
                                    name="place"
                                />
                            </div>

                            <div class="form-group">
                                <label
                                    for="publisher"
                                    class="block text-sm font-medium text-gray-700"
                                    >Publisher:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.publisher"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="publisher"
                                    name="publisher"
                                />
                            </div>

                            <div class="form-group">
                                <label
                                    for="date"
                                    class="block text-sm font-medium text-gray-700"
                                    >Date:</label
                                >
                                <Input
                                    type="date"
                                    v-model="form.date"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="date"
                                    name="date"
                                />
                            </div>
                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="accessed"
                                    class="block text-sm font-medium text-gray-700"
                                    >Accessed:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.accessed"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="accessed"
                                    name="accessed"
                                />
                            </div>
                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="archive"
                                    class="block text-sm font-medium text-gray-700"
                                    >Archive:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.archive"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="archive"
                                    name="archive"
                                />
                            </div>
                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="loc_in_archive"
                                    class="block text-sm font-medium text-gray-700"
                                    >Location in Archive:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.loc_in_archive"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="loc_in_archive"
                                    name="loc_in_archive"
                                />
                            </div>
                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="library_catalog"
                                    class="block text-sm font-medium text-gray-700"
                                    >Library Catalog:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.library_catalog"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="library_catalog"
                                    name="library_catalog"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="call_num"
                                    class="block text-sm font-medium text-gray-700"
                                    >Call Number:</label
                                >
                                <Input
                                    type="number"
                                    v-model="call_number"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="call_number"
                                    name="call_number"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="series_num"
                                    class="block text-sm font-medium text-gray-700"
                                    >Series Number:</label
                                >
                                <Input
                                    type="number"
                                    v-model="form.series_num"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="series_num"
                                    name="series_num"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="form.type != 3 && form.type != 4"
                            >
                                <label
                                    for="volume"
                                    class="block text-sm font-medium text-gray-700"
                                    >Volume:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.volume"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="volume"
                                    name="volume"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="orig_date"
                                    class="block text-sm font-medium text-gray-700"
                                    >Original Date:</label
                                >
                                <Input
                                    type="date"
                                    v-model="original_date"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="orig_date"
                                    name="orig_date"
                                />
                            </div>

                            <div class="form-group" v-if="form.type != 5">
                                <label
                                    for="num_pages"
                                    class="block text-sm font-medium text-gray-700"
                                    >Number of Pages:</label
                                >
                                <Input
                                    type="number"
                                    v-model="form.num_pages"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="num_pages"
                                    name="num_pages"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="form.type != 3 && form.type != 4"
                            >
                                <label
                                    for="language"
                                    class="block text-sm font-medium text-gray-700"
                                    >Language:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.language"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="language"
                                    name="language"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="isbn"
                                    class="block text-sm font-medium text-gray-700"
                                    >ISBN:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.isbn"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="isbn"
                                    name="isbn"
                                />
                            </div>

                            <div
                                class="form-group"
                                v-if="
                                    form.type != 3 &&
                                    form.type != 4 &&
                                    form.type != 5
                                "
                            >
                                <label
                                    for="short_title"
                                    class="block text-sm font-medium text-gray-700"
                                    >Short Title:</label
                                >
                                <Input
                                    type="text"
                                    v-model="short_title"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="short_title"
                                    name="short_title"
                                />
                            </div>

                            <div class="form-group">
                                <label
                                    for="url"
                                    class="block text-sm font-medium text-gray-700"
                                    >URL:</label
                                >
                                <Input
                                    type="text"
                                    v-model="form.url"
                                    class="form-control mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-mmsu-color focus:border-mmsu-color sm:text-sm"
                                    id="url"
                                    name="url"
                                />
                            </div>
                        </div>
                        <br />
                        <div class="grid grid-rows-1">
                            <div class="form-group">
                                <label
                                    for="author"
                                    class="block text-sm font-medium text-gray-700"
                                    >AUTHOR:</label
                                >

                                <div
                                    class="form-group"
                                    v-for="(
                                        contributor, index
                                    ) in form.contributors"
                                    :key="index"
                                >
                                    <!-- Each contributor's information aligned horizontally -->

                                    <div class="flex">
                                        &nbsp;
                                        <table
                                            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
                                        >
                                            <tr>
                                                <th>
                                                    <Input
                                                        v-model="
                                                            contributor.fname
                                                        "
                                                        type="text"
                                                        class="mt-1 block w-full"
                                                        id="fname"
                                                        name="fname"
                                                        placeholder="Firstname"
                                                    />
                                                </th>
                                                &nbsp;
                                                <th>
                                                    <Input
                                                        v-model="
                                                            contributor.lname
                                                        "
                                                        type="text"
                                                        class="mt-1 block w-full"
                                                        name="lname"
                                                        placeholder="Lastname"
                                                    />
                                                </th>

                                                &nbsp;
                                                <th>
                                                    <Button
                                                        @click="addItem"
                                                        type="button"
                                                        variant="success"
                                                        >+</Button
                                                    >

                                                    &nbsp;
                                                    <Button
                                                        @click="removeItem"
                                                        type="button"
                                                        variant="danger"
                                                        >-</Button
                                                    >
                                                </th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="flex justify-end">
                        <Button
                            variant="danger"
                            type="button"
                            class="btn btn-default block text-sm font-medium text-gray-700"
                            @click="closeModal"
                            >Cancel</Button
                        >
                        &nbsp;
                        <Button
                            variant="success"
                            type="button"
                            class="btn btn-primary block text-sm font-medium text-gray-700"
                            @click="save"
                            >Save</Button
                        >
                    </div>
                </form>
            </div>
        </div>
    </AuthenticatedLayout>
</template>
<script>
import { Link, useForm } from "@inertiajs/inertia-vue3";
import {
    UserIcon,
    MailIcon,
    LockClosedIcon,
    UserAddIcon,
} from "@heroicons/vue/outline";
import GuestLayout from "@/Layouts/Guest.vue";
import InputIconWrapper from "@/Components/InputIconWrapper.vue";
import Input from "@/Components/Input.vue";
import Label from "@/Components/Label.vue";
import ValidationErrors from "@/Components/ValidationErrors.vue";
import Button from "@/Components/Button.vue";
import { router } from '@inertiajs/vue3';

export default {
    components: {
        router,
        InputIconWrapper,
        Input,
        Label,
        ValidationErrors,
        Button,
        UserIcon, // Add a comma here
        MailIcon,
        LockClosedIcon,
        UserAddIcon,
    },
    data() {
        const form = useForm({
            type: "",
            title: "",
            series: "",
            series_num: "",
            volume: "",
            num_volume: "",
            edition: "",
            place: "",
            publisher: "",
            date: "",
            original_date: "",
            num_pages: "",
            language: "",
            isbn: "",
            short_title: "",
            url: "",
            accessed: "",
            archive: "",
            loc_in_archive: "",
            library_catalog: "",
            call_number: "",
            short_abstract: "",
            ext_abstract: "",
            contributors: [
                { fname: "", lname: "" }, // Initial contributor
            ],
         
        });
        return {
            form,
            isModalOpen: true,
        };
    },
    methods: {
        openModal() {
            this.isModalOpen = true;
        },
        closeModal() {
            this.isModalOpen = false;
            this.$emit("close-modal");
        },
        // addAuthor() {
        //     this.authors.push({ fname: "", lname: "" });
        // },
        // removeAuthor(index) {
        //     if (this.authors.length > 1) {
        //         this.authors.splice(index, 1);
        //     }
        // },

        addItem() {
            this.form.contributors.push({ fname: "", lname: "" });
        },

        removeItem() {
            this.form.contributors.length > 1 && this.form.contributors.pop();
        },
        save() {
         
            const data = { ...this.form, contributors: this.form.contributors };



            // Extract the form data
            // Check if the current section is "Details"
            // Add your validation logic here
            // Add your validation logic here
            // if (!data.type || !data.title || !data.place /* Add other required fields */) {
            //   alert('Please fill in all required fields in the "Details" section.');
            //   return;
            // }
            router.post("/references", data);
            
            // Save references data
            
        },
    },

    // addItem() {
    //     const newContributor = {fname: "", lname: "" };
    //     this.form.contributors.push(newContributor); // Add a new contributor
    // },
    // removeItem() {
    //     if (this.form.contributors.length > 1) {
    //         this.form.contributors.pop(); // Remove the last contributor if there is more than one
    //     }
    // },
};
</script>
