<template>
    <div class="tag-input">
      <div v-for="(tag, index) in selectedTags" :key="index" class="tag-input__tag">
        <span @click="removeTag(index)">x</span>
        {{ tag.surname }} {{ tag.firstname }}
      </div>
      <div class="typable-dropdown"  ref="dropdown">
        <input
          type="text"
          placeholder="Type to search or select a student"
          class="tag-input__text"
          v-model="newTag"
          @input="filterPeople"
          @keydown.enter.prevent="addTag"
          @keydown.delete="removeLastTag"
        />
        <ul v-if="selectedType == 1"  class="suggestions">
        <li v-for="(student, index) in filteredStudents" :key="'student-' + index" @click="selectPerson(student, 'Student')">
          {{ student.surname }} {{ student.firstname }} (Student)
        </li>
        </ul>
        <ul  v-if="selectedType == 2 || selectedType == 3" class="suggestions">
        <li v-for="(employee, index) in filteredEmployees" :key="'employee-' + index" @click="selectPerson(employee, 'Employee')">
          {{ employee.surname }} {{ employee.firstname }} (Employee)
        </li>
      </ul>
      </div>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    props: {
    selectedType: "",
  },
    data() {
      return {
        employees: [],
        students: [],
        selectedPerson: null,
        newTag: '',
        filteredEmployees: [],
      filteredStudents: [],
        tags: [],
        dropdownVisible: false,
      };
    },
    computed: {
      selectedTags() {
        return this.tags.filter(tag => tag.surname.toLowerCase().includes(this.newTag.toLowerCase()));
      },
    
    },
    methods: {
      async fetchStudents() {
          const response = await axios.get('/getStudents');
          this.students = response.data;
        
      },
      async fetchEmployees() {
          const response = await axios.get('/getEmployees');
         
          this.employees = response.data;

        
      },
      
      
      addTag(person) {
        const val = this.newTag.trim();
        if (val.length > 0 && !this.tags.some(tag => tag.surname === val)) {
          this.tags.push({ surname: val, person: person });
          this.newTag = '';

          this.$emit('tags-updated', { tags: this.tags.slice()});
        }
      },
      removeTag(index, person) {
        this.tags.splice(index, 1);
        this.$emit('tags-updated', { tags: this.tags.slice()});
      },
      removeLastTag(person) {
        if (this.newTag.length === 0) {
          this.removeTag(this.tags.length - 1);
          this.$emit('tags-updated', { tags: this.tags.slice()});
        }
      },
      filterPeople() {
      const searchQuery = this.newTag.toLowerCase().trim();
      this.filteredStudents = this.students.filter(
        student => student.surname.toLowerCase().includes(searchQuery) || student.firstname.toLowerCase().includes(searchQuery)
      );
      this.filteredEmployees = this.employees.filter(
        employee => employee.surname.toLowerCase().includes(searchQuery) || employee.firstname.toLowerCase().includes(searchQuery)
      );
    },
    selectPerson(person, type) {
      
      this.newTag = `${person.surname} ${person.firstname}`;
      this.selectedPersonType = type;
      this.selectedPerson = person;
      this.addTag(person);
      this.dropdownVisible = false;
      this.dropdownVisible = false; // Close the dropdown
  this.filteredStudents = []; 
  this.filteredEmployees = []; 
    },
  },
    created() {
      this.fetchStudents();
      this.fetchEmployees();
    },
  };
  </script>
  
  <style scoped>
  /* Your existing styles go here */
  
  .typable-dropdown {
    position: relative;
  }
  
  .suggestions {
    position: flex;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #888;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .suggestions li {
    padding: 5px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #eee;
  }
  
  .tag-input {
    width: 100%;
    border: 1px solid #eee;
    font-size: 0.9em;
    box-sizing: border-box;
    padding: 0 10px;
  }
  
  .tag-input__tag {
    height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #eee;
    margin-top: 10px;
    line-height: 30px;
    padding: 0 5px;
    border-radius: 5px;
  }
  
  .tag-input__tag > span {
    cursor: pointer;
    opacity: 0.75;
  }
  
  .tag-input__text {
    border: none;
    outline: none;
    font-size: 0.9em;
    line-height: 32px;
    background: none;
  }
  
  .tag-input__dropdown {
    margin-bottom: 10px;
  }
  </style>
  